<div class="nav">
  <h1 class="container-h1">User Management</h1>
  <div class="nav-links">
    <a routerLink="/" class="btn-home" routerLinkActive="active">Home</a>
    <a routerLink="/add-user" class="btn-add-nav" routerLinkActive="active"
      >Add <img class="icon-img" src="assets/user.png" alt=""
    /></a>
    <a routerLink="/get-users" class="btn-add-nav" routerLinkActive="active"
      >All <img class="icon-img" src="assets/user.png" alt=""
    /></a>
    <!-- <a routerLink="/dashboard" class="btn-add-nav" routerLinkActive="active"
      >Dashboard</a
    > -->
  </div>
</div>
